title { color:#000000 }
body {
    font-family: Comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    text-align: center;
    background-color: #cf20ff;
    color: #000000;
}
h1 {
    color: #0073e6;
}

